name: Supabase Keep Alive

on:
  schedule:
    - cron: '0 0 * * *' # Runs at 00:00 UTC every day
  workflow_dispatch: # Allows manual triggering

jobs:
  ping-database:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase
        run: |
          curl -f -X GET 'https://kgkhogskywnuravqxibs.supabase.co/rest/v1/students?select=*&limit=1' \
          -H "apikey: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtna2hvZ3NreXdudXJhdnF4aWJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA4NDQ3MTksImV4cCI6MjA0NjQyMDcxOX0._6U0cDHTGAYiyMsIw7mOpIYmC2n_7-Z88Jr4WLV6mfA" \
          -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtna2hvZ3NreXdudXJhdnF4aWJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA4NDQ3MTksImV4cCI6MjA0NjQyMDcxOX0._6U0cDHTGAYiyMsIw7mOpIYmC2n_7-Z88Jr4WLV6mfA"
